@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,600&family=Source+Serif+Pro:ital,wght@0,900;1,900&display=swap');

:root {
  --background-color: rgba(255, 251, 234, 0.24);
  --lime-green: #cad072;
  --darker-green: rgb(98, 148, 85);
  --blue: #8fc9d6;
  --pale-blue: #a1d1dba1;
  --red: #b42e2e;
  --pink: #ecbdcf;
  --pale-peach: #fce498;
  --lilac-full: rgb(212, 137, 150);
  --lilac-faint: rgba(220, 189, 195, 0.6);
  --orange: #e99a25;
  --yellow: #f3d215;
  --footer: rgba(164, 185, 113, 0.2);
  --box-shadow: 2px 5px 6px rgba(212, 216, 228, 0.445);
  --light-shadow: 2px 3px 5px rgba(255, 255, 255, 0.116);
  --header-font: 'source serif pro';
  --text-font: 'lora';
  --subheader-font: 'source serif pro';
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: var(--text-font), sans-serif;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.header {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.header.about {
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  position: relative;
}
.navbar-green .nav-link {
  font-weight: 600;
  color: var(--orange);
  text-shadow: var(--light-shadow);
}
.navbar-nav .nav-link.active {
  color: var(--lime-green);
  font-style: italic;
}
.navbar-nav .nav-item:hover .nav-link {
  color: var(--yellow);
}
.navbar-toggler {
  background-color: var(--pale-peach);

  border: var(--orange);
  box-shadow: none;
}

.hero {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  position: absolute;
  text-align: center;
}
.fa-angle-double-down {
  color: var(--darker-green);
  font-size: 1.9vw;
  padding: 20px;
  animation: color-change 8s infinite;
}

h1 {
  font-size: 7.1vw;
  font-family: var(--header-font), serif;
  font-weight: 600;
  color: var(--lime-green);
  padding: 10px;
  line-height: 1.2;
  text-shadow: 3px 2px yellow;
  animation: color-change 4s infinite;
}

@keyframes color-change {
  0% {
    color: var(--lime-green);
  }
  50% {
    color: var(--darker-green);
  }
  100% {
    color: var(--lime-green);
  }
}
h2 {
  font-size: 6vw;
  font-family: var(--subheader-font), serif;
  padding-bottom: 35px;
  color: var(--lime-green);
  line-height: 1.4;
  font-weight: 600;
  text-shadow: 3px 2px yellow;
}
h3 {
  font-family: var(--subheader-font), serif;
  color: var(--darker-green);
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 2;
  text-align: center;
  font-weight: 600;
}
h4 {
  font-size: 3.5vw;
  font-family: var(--subheader-font), serif;
  padding-bottom: 35px;
  color: var(--darker-green);
  line-height: 2;
  font-weight: 600;
}
h5 {
  font-size: 2.6vw;
  color: var(--lime-green);
  padding-bottom: 0;
  font-weight: 600;
}
p {
  color: white;
}
.groovy {
  animation: color-change-yellow 4s infinite;
}
@keyframes color-change-yellow {
  0% {
    color: var(--darker-green);
  }
  50% {
    color: var(--orange);
  }
  100% {
    color: var(--darker-green);
  }
}

button.projects {
  color: var(--orange);
  background-color: var(--pale-peach);
  border: 2px solid var(--pale-peach);
  border-radius: 2px;
  font-size: 19px;
  padding: 15px;
  margin: 20px;
  width: 50vw;
  text-align: center;
  font-weight: 600;
}
button.projects:hover {
  color: var(--darker-green);
  border: 2px solid var(--lime-green);
  transition: 200ms ease-in;
}
button.contact {
  color: var(--orange);
  background-color: var(--pale-peach);
  border: 2px solid var(--pale-peach);
  border-radius: 2px;
  font-size: 19px;
  margin: 25px auto;
  padding: 15px;
  font-weight: 600;
}
button.contact:hover {
  border: 2px solid var(--lime-green);
  transition: 200ms ease-in-out;
  color: var(--darker-green);
}

.projects-section {
  padding: 40px;
  margin: 40px;
  text-align: center;
  flex-direction: column;
  background-color: #cad0728f;
  border-radius: 70px 70px 1px 1px;
  display: block;
}
.project-card {
  width: 26vw;
  border: none;
  border-radius: 2px;
}
.card-text {
  text-align: center;
  color: var(--darker-green);
}
.contact-me-section {
  font-size: 1.2em;
  height: 90vh;
  line-height: 2;
  text-align: center;
  background-color: rgba(202, 208, 114, 0.4);
  padding: 40px;
  background-color: #cad0728f;
  border-radius: 70px 70px 1px 1px;
}
.about-section {
  margin: 20px;
  float: left;
}
.about-section p {
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  font-weight: 200;
  color: var(--darker-green);
}
img.icon {
  width: 10vw;
  border: none;
  box-shadow: none;
}
img.icon:hover {
  border: none;
}
ol {
  list-style: none;
  color: orange;
  padding: 0;
}
.contactMeBox {
  clear: both;
  font-size: 1.3rem;
  width: 90%;
  padding: 5px;
  margin: 40px auto;
  background-color: var(--lime-green);
  border-radius: 3px;
  color: var(--background-color);
  text-shadow: var(--light-shadow);
}
.workTxt {
  text-align: right;
}
.workBtn {
  text-align: left;
}

.address {
  color: var(--darker-green);
  font-size: 24px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px var(--lilac-faint);
}

img {
  justify-content: center;
  align-content: center;
  max-width: 40vw;
  border: 3px solid var(--orange);
  box-shadow: var(--box-shadow);
}
img:hover {
  border: 3px solid var(--yellow);
}
.profilePic {
  border-radius: 360px;
  width: 30vw;
}
a {
  color: var(--darker-green);
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: var(--orange);
}

.footer {
  background-color: var(--footer);
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vh;
}
.circle {
  position: relative;
  background-color: var(--yellow);
  color: white;
  border: none;
  border-radius: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 30px;
  font-size: large;
}

@media (max-width: 575px) {
  .project-card {
    width: 70vw;
    padding: 15px;
    margin: 20px;
  }
  .about-section {
    margin: 30px auto;
  }
  h2 {
    font-size: 3em;
    padding: 5px;
    line-height: 1;
  }
}
@media (max-width: 310px) {
  .header {
    height: 70vh;
  }
  .hero {
    width: 100vw;
  }
  h1 {
    font-size: 15vw;
  }
  h2 {
    font-size: 7vw;
    padding: 5px;
  }
  button {
    font-size: 4vw;
    padding: 7px;
  }

  .footer {
    width: 100vw;
    height: 100vh;
  }
}
