@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@500&family=Charmonman&family=Homemade+Apple&family=Itim&family=La+Belle+Aurore&family=Montez&family=Princess+Sofia&family=Sacramento&display=swap');

:root {
  --background-color: #fffdf7;
  --darker-blue: #298fa6;
  --lime-green: rgba(202, 208, 114, 0.6);
  --pale-peach: #f4d4b5;
  --deep-red: #bf0404;
  --lilac: #dcbdc3;
  --orange: #dd9c13;
  --yellow: #f3d215;
  --bright-blue: #50aec7;
  --pale-blue: rgba(175, 209, 205);
  --pink: #f36192;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'itim', sans-serif;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.header {
  background-color: rgba(220, 189, 195, 0.5);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.header.about {
  background-color: var(--background-color);
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--orange);
  float: right;
}

.hero {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  position: absolute;
  text-align: center;
  text-shadow: 2px 5px 6px rgba(220, 189, 195, 0.6);
}

h1 {
  font-size: 9vw;
  font-family: 'homemade apple', cursive;
  color: rgb(255, 254, 254);
  padding: 20px;
}
h2 {
  font-size: 6vw;
  font-family: 'homemade apple', cursive;
  color: rgb(255, 254, 254);
  padding: 20px;
  text-shadow: 2px 5px 6px rgba(220, 189, 195, 0.6);
}
h3 {
  color: rgb(255, 254, 250);
  font-size: 24px;
  padding: 20px;
  line-height: 1.5;
}
a {
  color: var(--darker-blue);
  text-decoration: none;
}
a:hover {
  color: var(--orange);
}
a.active {
  color: var(--orange);
}
button {
  color: var(--orange);
  background-color: var(--pale-peach);
  border: 2px solid var(--pale-peach);
  border-radius: 4pt;
  font-size: 19px;
  padding: 15px;
  margin: 20px;
}
button:hover {
  border: 2px solid var(--orange);
}
.projects-section {
  text-align: center;
  padding: 30px;
  margin: 30px;
  flex-direction: column;
  background-color: var(--lime-green);
}
.about-section {
  margin-top: 2vh;
}
button .contact {
  width: 20px;
}
.address {
  font-size: 24px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px rgba(255, 253, 135, 0.884);
}

img {
  justify-content: center;
  align-content: center;
  max-width: 40vw;
  border: 3px solid var(--orange);
}
img:hover {
  border: 3px solid var(--yellow);
}
.profilePic {
  border-radius: 360px;
  width: 20vw;
}

.about-section p {
  color: var(--bright-blue);
}
.appComment {
  color: var(--darker-blue);
}
.footer {
  padding: 0;
  margin: 0;
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vh;
}

.circle {
  position: relative;
  background-color: var(--yellow);
  color: var(--background-color);
  border: none;
  border-radius: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 30px;
  font-size: large;
}
.fa-instagram {
  font-weight: bold;
}
@media (max-width: 310px) {
  .header {
    height: 70vh;
  }
  .hero {
    width: 100vw;
  }
  h1 {
    font-size: 15vw;
  }
  h2 {
    font-size: 5vw;
    padding: 5px;
  }
  button {
    font-size: 4vw;
    padding: 7px;
  }
  .footer {
    width: 100vw;
    height: 100vh;
  }
}
